*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Edu NSW ACT Foundation', cursive;
    background-color: #00b4d8;
    color: #804005;
    user-select: none;
}
.main
{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img{
    width: 250px;
    margin: 0 auto;
}

input{
    color: #804005;
    background-color: #FFFDF8 ;
    border: 0;
    padding: 15px;
    border-radius: 7px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0;
}

button{
    color: #FDFDFD;
    background-color: #fb6f92;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    
}

button:hover{
    background-color: #e85d04;
    cursor: pointer;
}

ul{
    list-style: none;
    margin: 10px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-self: center;
}

ul li {
    background-color: #FFFDF8;
    padding: 15px;
    border-radius: 7px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}

ul li:hover{
    background-color: #DCE1EB;
    cursor: pointer;
}